:root {
  --cyan: #3bb4a1;
  --light-grey: #6d6e70;
  --grey: #2d2d2d;
  --yellow: #fbf1a4;
  --dark-cyan: #013e38;
  --red: #f56664;
  --basefont: "Oswald", sans-serif;
  --secfont: "Montserrat", sans-serif;
}


.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  font-family: var(--secfont);
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 5px var(--secondary-bg);
  color: var(--secondary-text);
  position: relative;
  width: 250px; /* Further reduced width */
  height: 320px; /* Further reduced height */
  max-width: 100%;
  text-align: center;
  margin: 1rem;
  overflow: hidden;
}

.cardContainer img {
  border: 1px solid var(--main);
  border-radius: 50%;
  padding: 4px;
  height: 60px;
  width: 60px;
  margin-top: 0.5rem;
}


.name, .skillsHeading {
  font-family: "Roboto";
  margin: 5px 0;
  font-size: 1rem;
}

.ratingHeading  {
  font-family: var(--secfont);
  font-size: 0.8rem !important;
  margin: 5px 0;
}

.cardText {
  font-family: var(--secfont);
  font-size: 11px;
  line-height: 1.4;
  padding: 0 5px;
  height: auto; /* Limits the bio to roughly 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 0.5rem;
}

button.primary {
  margin: 0.2rem;
  background-color: var(--main);
  border: 1px solid var(--main);
  border-radius: 5px;
  color: white;
  font-family: var(--secfont);
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  transition: 0.3s ease-in-out;
  font-size: 0.7rem;
}
/* 
button.primary.ghost {
  margin: 0.2rem;
  background-color: transparent;
  color: #3bb4a1;
  transition: 0.3s ease-in-out;
} */

button.primary:hover {
  background-color: var(--hover-btn);
}

/* button.primary.ghost:hover {
  background-color: #ffffff27;
} */

.profskills {
  background-color: white;
  border-top: 2px solid var(--secondary-bg);
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
  height: 40%; /* Set height to 40% of the parent */
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}

.profskillBoxes {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
}

.profskillBox {
  text-align: center;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding: 0.2rem 0.5rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  border-radius: 5px;
  min-width: 2.5rem;
  font-size: 10px;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 40vw;
    height: auto;
  }
}

@media (max-width: 425px) {
  .cardContainer {
    width: 60vw;
    height: 320px;
  }
}
